# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files and model artifacts
*.csv
*.h5
*.joblib
*.pkl
*.pt

# IDE/editor
.vscode/
.idea/
.DS_Store

data/raw/*.csv
models/*.pkl